<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>WebSocketChatting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<description>PathFinder</description>
  	<display-name>PathFinder</display-name>
  	<servlet-name>PathFinder</servlet-name>
  	<servlet-class>control.PathFinder</servlet-class>
  	<init-param>
  		<param-name>actionNames</param-name>
  		<param-value>
			login.zan:command.MemberCommand:login
			join.zan:command.MemberCommand:join
			logout.zan:command.MemberCommand:logout
			findinfo.zan:command.MemberCommand:findInfo
			mypage.zan:command.MemberCommand:infoView
			memberdrop.zan:command.MemberCommand:memberDrop
			memberupdate.zan:command.MemberCommand:memberUpdate
			membersetupdate.zan:command.MemberCommand:setUpdate
			chatcreate.zan:command.ChatCommand:chatCreate
			chatenter.zan:command.ChatCommand:chatEnter
			chatinfo.zan:command.ChatCommand:chatInfo
			chatlist.zan:command.ChatCommand:chatList
			articledelete.zan:command.BoardCommand:articleDelete
			articleedit.zan:command.BoardCommand:articleEdit
			articlelist.zan:command.BoardCommand:articleList
			articlesetedit.zan:command.BoardCommand:articleSetEdit
			articleview.zan:command.BoardCommand:articleView
			articlewrite.zan:command.BoardCommand:articleWrite
			writeForm.zan:command.BoardCommand:writeForm
			replyForm.zan:command.BoardCommand:replyForm
			reply.zan:command.BoardCommand:reply
  		</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PathFinder</servlet-name>
  	<url-pattern>*.zan</url-pattern>
  </servlet-mapping>
</web-app>